<h1>Add a new phone</h1>

<%= form_for @phone do |form| %>
  <%= form.label :number %><br>
  <%= form.text_field :number %><br>
  <%= form.label :manufacturer %><br>
  <%= form.text_field :manufacturer %><br>
  <%= form.submit %>
<% end %>
